body {
  background: #16a085; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4d03f,
    #16a085
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4d03f,
    #16a085
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
  display: flex;
  margin: 30px auto;
  justify-content: center;
}

.titulo {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #fff;
}

.nota {
  background: #fff;
  margin: 5px;
  border-radius: 5px;
  height: 400px;
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.estaSonando {
  transition: 0.5s;
  background-color: #999;
}

.negra {
  background-color: #111;
  height: 250px;
  width: 50px;
  border-radius: 10px;
  position: absolute;
  right: -30px;
  z-index: 9;
}

.acciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play,
.borrar {
  color: white;
  background-color: orange;
  border-radius: 5%;
  display: inline-block;
  margin: 40px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50%;
}

.display_melodia {
  color: white;
  background-color: orange;
  display: inline-block;
  margin: 40px;
  padding: 0px 10px;
  width: 90%;
  height: 50px;
  line-height: 50%;
  width: auto;
  border-radius: 5%;
}
